#profile {
    width: auto;
    background-color: yellow;
  }

#classx {
    width: auto;
    background-color: greenyellow;
}

#classxii {
    width:auto;
    background-color: goldenrod;
}

#btech {
    width: auto;
    background-color: aqua;
}

#education {
    width: auto;
    background-color:khaki;
}

#systems {
    width: auto;
    background-color:gold;
}

#employment {
    width: auto;
    background-color: lightpink;
}

#life {
    width: auto;
    background-color:gainsboro;
}